/*resources/css/app.css*/

@import "tailwindcss";
@import '../../vendor/power-components/livewire-powergrid/resources/css/tailwind4.css';

/** enable dark mode */
@custom-variant dark (&:where(.dark, .dark *));

@source '../../app/Livewire/*Table.php';
@source '../../app/Livewire/**/*Table.php';
@source '../../vendor/power-components/livewire-powergrid/src/Themes/Tailwind.php';
@source '../../vendor/power-components/livewire-powergrid/resources/views/**/*.php';

/* Custom theme */
@theme {
 --color-pg-primary-50: oklch(0.985 0 0);
 --color-pg-primary-100: oklch(0.97 0 0);
 --color-pg-primary-200: oklch(0.922 0 0);
 --color-pg-primary-300: oklch(0.87 0 0);
 --color-pg-primary-400: oklch(0.708 0 0);
 --color-pg-primary-500: oklch(0.556 0 0);
 --color-pg-primary-600: oklch(0.439 0 0);
 --color-pg-primary-700: oklch(0.371 0 0);
 --color-pg-primary-800: oklch(0.269 0 0);
 --color-pg-primary-900: oklch(0.205 0 0);
 --color-pg-primary-950: oklch(0.145 0 0);
}