.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.9rem;
    text-align: center;
    text-shadow: 0px 0px 1px #878787;
    letter-spacing: 1px;
    word-spacing: 6px;
    color: #111;
}

svg {
    display: block;
    margin: auto;
    margin-top: 150px;
    width: 150px;
    fill: #222;
}

a {
    text-decoration: none;
    color: #2c3e50;
}
